<app-player *ngFor="let player of game.players; let i = index;" 
    (click)="openDialogEditPlayer(i)"
    [ngStyle]="{'top.px': i == game.currentPlayer ? 20 : 20 + (i*55)}"  
    [name]="player.name" [profile]="player.profile" 
    [playerActive]="i == game.currentPlayer" 
    class="displayPlayer"></app-player>


<div class="gamefield">
    <div class="cardStack">
        <!-- card deck -->
        <img *ngFor="let card of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i*5}"
            (click)="game.stack.length > 0 || openDialogEnd()"
            (click)="game.players.length > 0 || openDialogAddPlayer()" 
            src="assets/img/playing_cards-master/card_cover.png">

        <!-- pick card from deck animation -->
        <img *ngIf="game.players.length > 0 && game.stack.length > 0" 
            (click)="game.stack.length == 0 || pickCard()" 
            class="topCard" style="right: 20px"
            src = "assets/img/playing_cards-master/card_cover.png">
        
        <!-- stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" src="assets/img/playing_cards-master/{{ card }}.png" >
    
        <!-- current card animation -->
        <img *ngIf="game.pickCardAnimation" class="pickCard" style="right: 20px"
            src="assets/img/playing_cards-master/{{ game.currentCard }}.png">
    </div>
</div>

<app-game-rules [card]="game.currentCard" class="infoCard"></app-game-rules>

<button mat-fab color="primary" (click)="openDialogAddPlayer()" class="btnAdd">
    <mat-icon>add</mat-icon>
</button>
