mat-form-field{
    width: 95%;
}

.mat-dialog-actions .mat-button-base+.mat-button-base{
    margin: unset;
}

.profile{
    flex-wrap: wrap;
    width: 100%;
    max-width: 320px;
    height: auto;

    input[type="radio"]{
        margin: 0;
        appearance: none;
    }

    img{
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: 4px;
        object-fit: contain;
        border-radius: 100px;
        border: 3px solid white;
        transition: all 225ms ease-in-out;

        &:hover{
            border: 3px solid #575757;
            transition: all 225ms ease-in-out;
        }
    }

    .selected{
        border: 3px solid #276ae1;
        transform: scale(1.25);
        transition: all 225ms ease-in-out;

        &:hover{
            border: 3px solid #276ae1;
        }
    }


}

@media(max-width: 340px){
    .profile{
  
        img{
            width: 40px;
            height: 40px;
        }
    }
}

@media(max-height: 470px){
    .mat-dialog-content {
        max-height: 40vh;
    }

    .profile{
       
        img{
            width: 40px;
            height: 40px;
        }
    }
}

@media(max-height: 350px){
    .mat-dialog-content {
        max-height: 30vh;
    }
}